@import "tailwindcss";

/* Font family classes */
.font-serif {
  font-family: "Playfair Display", serif;
}

.font-sans {
  font-family: "Source Sans 3", sans-serif;
}

body {
  color: white;
  background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}